/* Copyrights Mai 213, MAGHEN NEGOU Rostant, Tout droit réservé
MAGHEN NEGOU Rostant
Communicateur Informaticien
Tél:(+237) 77 92 06 85 - 94 27 12 80 - 77 55 57 43 - 77 28 28 51
BP: Douala Cameroun
Email : maghen2@gmail.com
*/
/*Debugage de IE*/
  div#page{
  height: 90%;
  overflow: visible;
  }
div#content{
 height: 2200px;
}
div#content, div#nav {
	margin-top: 15px;
	}
