/* Copyrights Mai 213, MAGHEN NEGOU Rostant, Tout droit réservé
MAGHEN NEGOU Rostant
Communicateur Informaticien
Tél:(+237) 77 92 06 85 - 94 27 12 80 - 77 55 57 43 - 77 28 28 51
BP: Douala Cameroun
Email : maghen2@gmail.com
*/
/*Positionement du site avec une resolution de 1024x768*/	
html,body{
  padding-bottom: 20px;
  background: #e4c680 url(bg_html.jpg) repeat;
	color: #744C24;
  margin: 0;
  padding: 0 0 5px 0;
}

div#page{
  width: 99%;
  min-height: 700px;
  margin: 10px auto;
  padding: 0;
  border: 1px solid #7A0000;
  background: #efd4a9 url(bg_page.jpg) repeat;
  border-radius: 5px;
}
/* Mise en page generale */
h1 {
	font-size: 2em;
  font-weight: bold;
	text-align: center;
	color: blue;
	border-bottom: 2px solid blue;
}
h2 {
	padding-left: 15px;
  padding-bottom: 5px;
	margin-left: 15px;
	line-height: 25px;
	font-size: 1.8em;
  font-weight: bold;
  font-variant: small-caps;
	color: rgb(0,191,255);
	border-bottom: 2px solid rgb(0,191,255);
	border-left: 2px solid rgb(0,191,255);  
}
h3 {
	margin-left: 25px;
	padding-left: 25px;
	font-size: 1.6em;
  line-height: 26px;
	border-bottom: 1px solid rgb(255,215,0);
	color: rgb(255,215,0);
}
h4 {
	margin-left: 35px;
	padding-left: 25px;
	font-size: 1.4em;
  line-height: 26px;
	border-bottom: 1px solid rgb(255,160,122);
	color: rgb(255,160,122);
}
h5{
	margin-left: 45px;
	font-size: 1.3em;
	border-bottom: 1px solid #e4c680;
	border-left: 3px solid #e4c680;
	color: #e4c680;
  font-variant: small-caps; 
}
h6{
  margin-left: 55px;
	font-size: 1em;
	border-bottom: 1px solid #e4c680;
	border-left: 2px solid #e4c680;
	color: #e4c680;
  font-variant: small-caps;   
}
p,address,blockquote,dl,hr,pre {
	text-align: justify;
	text-indent: 2em;
  margin: 0 auto 1em ;
}
ul,ol {
	text-align: left;
	text-indent: 0;
}
img{
 margin: 5px;
 margin-right: 15px ;
 padding: 0;
 border-bottom: 1px solid rgb(0,191,255) ;
 border-right: 2px solid rgb(0,191,255) ;
 color: rgb(0,191,255) ;
 display: block;
 float: left;
}
form,legend,input,fieldset{
 color: #9E040E;
}
fieldset,input{
 border: 1px solid #9E040E; 
}
 input,textarea,option{
 display: block;
 color: #9E040E;
 background-color: #e4c680;
 text-align: center;
 margin: 5px auto;
 font-style: italic;  
}
input:hover,textarea:hover,option:hover {
  color: #FFB800;
  background-color: #ffc;
}     
/* Fin de la mise en page generale
Mise en page de l'entente */
div#header{;
 width: 100%;
 padding: 0;
 padding-bottom: 10px; 
 font: italic bold Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
}
div#header h1{;
 height: 128px;
 color: #DFA679;
 text-indent: -2000px;
 margin: 1px 0 2px;
 background:  url(baniere_rapha_inc_sarl.gif) right top no-repeat;
 border: none;
 padding-left: 245px;
}
div#header img{
 border:  none;
 margin: 0; 
}
div#header h2{
display: none;
}
div#header address,a{
 color: #9E040E;
 text-indent: 20px;
 font-size: 1.2em;
 line-height: 111%;
 text-decoration: none;
 margin:0;
 font-weight: normal;
}
div#header h2{
 color: white;
 font-size: 1.5em;
 margin:0;
 font-style: italic;
 font-weight: bold;
 border: none;
 background: none;
 padding-left: 0;

}

/* Mise en page des menus horizontaux et verticaux */
div#menu{
 height: 35px;
 text-align: center;
 vertical-align: middle;
 padding-bottom: 10px;
}
div#menu menu.menu{
 height: 100%;
 width: 100%;
 list-style: none;
 margin: 0;
 padding: 0;
}
div#menu menu.menu li{
 height: 100%;
 width: 19.9%;
 float: left; 
 margin: 0 0 0 1px;
 padding: 0;
   
}
div#nav menu.menu{
 width: 100%;
 list-style: none;
 margin:25px 0;
 padding: 0;
}
div#nav menu.menu li{
 height: 35px;
 width: 100%;
 margin: 5px 0;
  
}
menu.menu li a{
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  line-height: 35px;
  vertical-align: bottom;
  text-align: left;
  padding-left: 0px;
  font-weight: bold;  
  color: #8a0;
  background: rgb(204,255,204) url(bg_menu.jpg) left top no-repeat; 
}

menu.menu li a:hover{
  color: #FFB800;
  background: #ffc url(bg_menu.jpg) left bottom no-repeat;  
}

/* Mise en page de la colone de navigation */
div#nav{
 width: 22%;
 float: left;
 padding: 3px;
}

div#nav form.search,legend,input,fieldset{
 font-size: 0.9em;  
}
div#nav form.search input{
 width: 50%;
}
div#nav form.search input.q{
 width: 97%;
}
 
/* Mise en page du contenu 'corps de page'*/
div#content{
 width: 75%;
 min-height: 1200px;
 float: right;
 border: 1px solid gold; 
 padding: 5px;
 margin-right: 5px; 
 background:white; 
 border-radius: 5px;
}
/*Mise en forme du pied de page*/
div#footer{ 
 height: 100%;
 clear: both;
 margin: 0;
 padding: 0;
 text-align: center;
 border-top: 1px solid #e4c680;
 
}
div#footer address, div#footer p, div#nav ul, div#nav p{
 margin: 0;
 padding: 0;
 color: white;
 text-align: center;
 font-size: 1.4em;
 font-style: italic;
 font-weight: bold;
 text-shadow: 1px 1px 1px #744C24; 
}
div#footer p, div#nav ul, div#nav p{
 text-align: left;
 font-size: 0.9em;
}
div#footer h1{
 font-size: 4em;
 text-shadow: 1px 1px 1px #744C24; 
}
div#footer h2{
 width: 95%;
 padding-left: 0;
 margin: 10px auto;
 font-size: 2.9em;
 text-align: center;
 line-height: 100%;
 border: 2px solid rgb(0,191,255);
 text-shadow: 1px 1px 1px #744C24;  
}
/* Mise en form des liens*/
a {
	color: lime;
	font-weight: bold;
}

a:hover {
	color: #c00;
}
a:active {
color: #FFB800;
}
a:visited {
color: red;
}

